body {
    padding: 10px;
}
.menu {
  width: 35%;
  float: left;
  padding: 15px;
  border: 1px solid grey;
}

.main {
  width: 65%;
  float: left;
  padding: 15px;
  border: 1px solid grey;
  box-sizing: border-box;
}

.subnote{
    color: grey;
    font-size: 15px;

}
