<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>bing test</title>
    <script>
    document.addEventListener('DOMContentLoaded', function(){
        fetch("http://dev.virtualearth.net/REST/v1/Locations/47.64054,-122.12934?o=json&key=Ak1lcrrpdMdej2d1w_shmItLOBhpEmeQpVz6g6FsRwa7CkamEDl4sgkw00XlEPbF")
        .then(response=> response.json())
        .then(data=> {
        const base=data.resourceSets[0].resources[0];
        const zht=base.address.addressLine;
        if (zht!==undefined){
        console.log(data);
        console.log(zht);

        document.querySelector("h1").innerHTML=`the address is ${zht} this`;
}

        else{document.querySelector("h1").innerHTML='invalid request';

        }

})
             .catch(error => {
            console.log('Error:', error);
        });
        return false;
        });




    </script>
</head>
<body>
<h1> </h1>
<p></p>
</body>
</html>

<!--("http://dev.virtualearth.net/REST/v1/Imagery/Map/Road/47.619048,-122.35384/15?mapSize=500,500&pp=47.620495,-122.34931;21;AA&pp=47.619385,-122.351485;;AB&pp=47.616295,-122.3556;22&mapMetadata=1&o=json&key=Ak1lcrrpdMdej2d1w_shmItLOBhpEmeQpVz6g6FsRwa7CkamEDl4sgkw00XlEPbF")



http://dev.virtualearth.net/REST/v1/Locations/37.983877,23.728020?includeEntityTypes=Address&includeNeighborhood=1&include=ciso2&&o=json&key=Ak1lcrrpdMdej2d1w_shmItLOBhpEmeQpVz6g6FsRwa7CkamEDl4sgkw00XlEPbF-->