{% extends "network/layout.html" %}
{% load static %}
{% block body %}
{% for post in page.object_list %}


<ul>
<div class="post">{{post.description}}

    <p style= "color:grey; font-size:12px;"> <strong><a href="{% url 'profile' post.owner_id %}" > {{post.owner}} </strong></a> wrote on: {{post.created_date}} </p>

    <p id="likes_{{post.id}}" style= "color:grey; font-size:12px;mix-blend-mode: multiply;"><img src="{% static  'network/images/like1.jpg' %}" alt="like image"> <strong>{{post.likes.all.count}}</strong>
{% if user.is_authenticated %}
        <form action="{% url 'index' %}" method="post">
        {% csrf_token %}


        <div class="form-group">
            <input class="form-control" autofocus style="margin-top:30px" type="text" name="reply_txt" placeholder="reply">
            <input type="hidden"  name="post_id" value={{post.pk}}>

        </div>
    <input class="btn btn-primary" type="submit" name="post_reply" value="Post Reply">

{% if  not user in post.likes.all %}
 <form action="{% url 'index' %}" method="post">
     {% csrf_token %}
     <input class="likeunlike" name="like" type="submit" value="like" >
     <input type="hidden"  name="post_to_like_id" value={{post.pk}}>

{% else %}
  <form action="{% url 'index' %}" method="post">
      {% csrf_token %}
     <input class="likeunlike" name="unlike" type="submit" value="unlike" >
     <input type="hidden"  name="post_to_unlike_id" value={{post.pk}}>


{% endif%}

    {% ifequal  user post.owner %}


 <form action="{% url 'index'  %}" method="post">
     {% csrf_token %}
     <input class="btn btn-primary" name="load_post" type="submit" value="Edit post" >
     <input type="hidden"  name="post_to_load_id" value={{post.pk}}>
 </form>



   {% endifequal %}
{% endif %}
            <p style= "color:grey; font-size:12px;"></p>


</div>

</ul>






{% for rep in post.replies.all %}
 <ul>



        <div class="replies" ><p style= "color:blue; font-size:10px;"><a href="{% url "profile" rep.owner_id %}">{{rep.owner}}</a>
            replied on {{rep.created_date}}</p> <strong>{{rep}} </strong> </div>
</ul>
{% endfor %}
</form>
    </div>



{% endfor %}
<h2 class="page"> Page: {{ page.number }}</h2>
        <div class="page-links">

            {% if page.has_previous %}
            <a href="{% url 'index' %}?page={{page.previous_page_number }}">Previous</a>

            {% endif %}
            {% if page.has_next %}
            <a href="{% url 'index' %}?page={{page.next_page_number }}">Next</a>
            {% endif %}

        </div>
{% block script %}
    <script src="{% static 'network/likes.js' %}"></script>

{% endblock script %}
{% endblock %}
