.post
{border: 3px solid grey;
background-color: lightgrey;
font-size: 16px;
min-height: 100px;
width: 22%;
padding: 2px;
margin-bottom:20px;
position: relative;

left: 30%;

}
.replies
{border: 3px solid #adad85;
background-color: #ccccb3;
font-size: 14px;
min-height: 10px;
width: 20%;
padding: 5px;
margin-bottom:20px;
position: relative;
overflow: visible;
left: 30%;

}

.prof
{border: 5px solid #90bbbb;
background-color: #eff5f5;
font-size: 14px;
min-height: 10px;
width: 25%;
padding: 5px;
margin-bottom:20px;
position: relative;
overflow: visible;
left: 0%;

}
.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus


{

color: #212529;
background-color: #7cc;
border-color: #5bc2c2;
min-height: 5px;
min-width: 2%;
padding: 1px;
position: relative;

}
.page
{border: 3px solid grey;
background-color: lightgrey;
font-size: 14px;
min-height: 20px;
max-width: 60px;
padding: 2px;
margin-bottom:10px;
position: relative;

left: 40%;

}

.page-links
{border: 3px solid grey;
background-color: lightgrey;
font-size: 14px;
min-height: 20px;
min-width: 30px;
padding: 2px;
margin-bottom:10px;
position: relative;
display: inline-block;
left: 40%;

}
.likeunlike {
  border: 1px solid #90bbbb;
  color: #7cc;
  padding: 1px 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 1px 2px;
  cursor: pointer;
  left: 40%;
}