{% extends "Capstone/layout.html" %}
{% load static %}
{% block body %}
<div class="container mt-3" >

  <div class="d-flex p-1 bg-secondary text-white ">
    <div class="bg-info col-sm-3 mx-5 pr-5 shadow-lg ">


     <form  action="{% url 'driver' %}" method="post">
    {% csrf_token %}
    {{ form }}
    <input id ="subbtn" type="submit" value="Submit">
    </form>
    </div>


    <div class="p-2 bg-warning mx-5">Flex item 2</div>
    <img id="map" src='#'>
    <div class="p-2 bg-primary">Flex item 3</div>
  </div>
</div>


<div class="mt-4 p-2 bg-dark text-white text-center">
  <p>Footer</p>
</div>

{% block script %}
    <script src="{% static 'Capstone/map.js' %}"></script>

{% endblock script %}
{% endblock %}
