{% extends "Capstone/layout.html" %}
{% load static %}
{% block body %}


<div class="container">
<div class="row">
  <div class="col-md-6">
     <div class="col-md-12 bg-secondary">
        <form action="{% url 'driver' %}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form>
     </div>
  </div>
  <div class="col-md-6">
     <div class="col-md-12 bg-secondary">
        Some Second Content..
     </div>
  </div>
</div>
<div class="mt-5 p-4 bg-dark text-white text-center">
  <p>Footer</p>
</div>

{% block script %}
    <script src="{% static 'Capstone/likes.js' %}"></script>

{% endblock script %}
{% endblock %}
