{% extends "Capstone/layout.html" %}
{% load static %}
{% block body %}
                    <a  class="text-warning" style='position:absolute; right:100px;' href="{% url 'valid_trips' %}" ><strong> Show Valid Trips </strong></a>



<p class="text-warning">Total Trips:<strong>{{routes_count}}</strong></p>
{% for ro in  page.object_list %}
<div class="media" data-fin="{{ro.fin}}" data-fin_set="{{ro.fin_set}}">
  <img class="ml-5" src="{{ ro.map_pic }}" alt="map_img">
  <div class="media-body">
      <div class="prof">
    <h5 class="mt-0"></h5>
        <h5> <strong>Trip No {{ro.id}}</strong> </h5> {% if ro.fin or ro.fin_set %}  <h5 style='color:red;'> 'Trip Closed'</h5>{% endif %}
    <h6> From </h6> {{ro.departure}}
    <h6> To </h6> {{ro.destination}}
    <h6> On </h6> {{ro.date_orig.date}}
    <h6> Leaving at </h6> {{ro.time_orig}}
    <h6> Returning at </h6> {{ro.time_dep}}

    <h6> The Driver is </h6>   <a href="{% url 'profile' ro.thedriver.id %}" ><strong> {{ro.thedriver}} </strong></a>
    <p hidden id="cost_{{ro.id}}"><h6>Initial cost per passenger {{ro.cost}} $</h6>
    <h6> Expected cost per passenger </h6><strong id="costpp_{{ro.id}}">{{ro.costpp}}$</strong>
          <!--{{ro.fin}} {{ro.fin_set}}-->

{% if user.is_authenticated %}

        {% if ro.passengers.all.count != 0 %}
    <p id="likes" style= "color:grey; font-size:12px;mix-blend-mode: multiply;"><img src="{% static  'Capstone/images/seat.jpg' %}" alt="seat image">
        <span><strong id="thepassengercounter_{{ro.id}}">{{ ro.thepassenger.all.count }}</strong></span>/<span id = 'max_pass_{{ro.id}}'>{{ ro.no_pass }}</span>

        {% else %}
    <p id="likes" style= "color:grey; font-size:12px;mix-blend-mode: multiply;"><img src="{% static  'Capstone/images/seat.jpg' %}" alt="seat image">
        <span><strong id="thepassengercounter_{{ro.id}}">0</strong></span>

       {% endif %}
<form action="{% url 'passenger' %}" method="post">
        {% csrf_token %}

        <div class="form-group">
            <input class="form-control" autofocus style="margin-top:30px" type="text" name="comm_txt" placeholder="Insert your comment">
            <input type="hidden"  name="route_id" value={{ro.id}}>

        </div>
    <input class="btn btn-primary"  id='post_btn' type="submit" name="route_reply" value="Post">

                  {% ifnotequal request.user ro.thedriver %}
            {% if not ro.fin_set and not ro.fin  %}
                <div class="likes">

                        {% if request.user in ro.thepassenger.all %}

                        <span id="leavebtn" class="joinleave" data-id="{{ro.id}}" onclick="return false" title="Leave" >Leave</span>
                        {% else %}
                        <span id="joinbtn" class="joinleave" data-id="{{ro.id}}" onclick="return false"  title="Join">Join</span>
                        {% endif %}

                </div>
</form>


            {% endif%}
        {% endifnotequal %}
        {% ifequal request.user ro.thedriver %}
          <form action="{% url 'edit_route' ro.pk %}" method="post">
        {% csrf_token %}
            <input class="btn btn-success" type="submit"  name="load_route" value="Edit Trip">  <!--onclick="location.href='{% url 'webload_route' ro.pk %}'"  />-->
            <input type="hidden"  name="route_to_load_id" value={{ro.pk}}>
          </form>
        {%endifequal %}
  </div>
</div>
</div>
        {% for rep in ro.comments.all %}
 <ul>



        <div class="comms" ><p style= "color:blue; font-size:10px;"><a href="{% url 'profile' rep.owner_id %}">{{rep.owner}}</a>
            replied on {{rep.created_date}}</p> <strong>{{rep}} </strong> </div>
</ul>
        {% endfor %}
{% endif %}
{% endfor %}

<h2 class="page"> Page: {{ page.number }}</h2>
        <div class="page-links">

            {% if page.has_previous %}
            <a href="{% url 'passenger' %}?page={{page.previous_page_number }}">Previous</a>

            {% endif %}
            {% if page.has_next %}
            <a href="{% url 'passenger' %}?page={{page.next_page_number }}">Next</a>
            {% endif %}

        </div>






{% block script %}
    <script src="{% static 'Capstone/join_leave.js' %}"></script>

{% endblock script %}
{% endblock %}