{% extends "Capstone/layout.html" %}
{% load static %}
{% block body %}

{% ifnotequal request.user targ_user %}

    <h2 class="text-warning">You are viewing user:{{targ_user.username}}</h2>
<div class= "prof"><strong> user's email address : {{targ_user.email}}</strong></p>
<strong> {{targ_user.username}} is member since {{ targ_user.date_joined }}</strong>
    <p>Total Trips as a driver:<strong>{{user_routes_count}}</strong></p>



{% endifnotequal %}

{% ifequal request.user targ_user %}
 <h2 class="text-warning">You are currenty logged in as :{{user.username}}</h2>
<div class= "prof"><strong> {{user.email}}</strong>
    <p><strong> You are member since {{user.date_joined}}</strong></p>
    <p> You are a passenger of {{user_passenger_count}}  trips</p>{% for route in user_passenger_list %}


            <strong> <a href="{% url 'webload_route' route.id %}" > {{route.id}} </a></strong>

        {% endfor %}





<p>Total Trips as a driver:<strong>{{user_routes_count}}</strong></p>







<p>
    {% endifequal %}
</div>


{% for user_route in  page.object_list %}
<section>
<ul>

<div class="post"><h5>Trip No {{user_route.pk}} </h5>{% if user_route.fin or user_route.fin_set  %}  <h5 style='color:red;'> 'Trip Closed'</h5>{% endif %}
    <p> <h6>From</h6> {{user_route.departure}} <h6>To</h6> {{user_route.destination}} </p>
    <p> <h6>on</h6> {{user_route.date_orig.date}}</p>
    <p> <h6>Leaving at</h6>  {{user_route.time_orig}} <h6>and returning at</h6> {{user_route.time_dep}}</p>
        <p hidden id="cost_{{route.id}}"><h6>Initial cost per passenger {{user_route.cost}} $</h6>
    <h6> Expected cost per passenger </h6><strong id="costpp_{{route.id}}">{{user_route.costpp}}$</strong>
     <p>   <img src="{{ user_route.map_pic }}" alt="map"></p>


    <p style= "color:grey; font-size:12px;"> <strong><a href="{% url 'profile' targ_user.id %}" > {{targ_user.username}} </strong></a> wrote on: {{user_route.created_date}} </p>

        {% if user_route.thepassenger.all.count != 0 %}
    <p id="likes" style= "color:grey; font-size:12px;mix-blend-mode: multiply;"><img src="{% static  'Capstone/images/seat.jpg' %}" alt="seat image">
        <span><strong id="thepassengercounter_{{user_route.id}}">{{ user_route.thepassenger.all.count }}</strong></span>/{{ user_route.no_pass }}
       Passengers of this Trip:

        {% for a in user_route.thepassenger.all %}
        <strong> <a href="{% url 'profile' a.id %}" >  {{ a.username }}</a></strong>
        {% endfor %}






    {% else %}

    <p id="likes" style= "color:grey; font-size:12px;mix-blend-mode: multiply;"><img src="{% static  'Capstone/images/seat.jpg' %}" alt="seat image">
        <span><strong id="thepassengercounter_{{user_route.id}}">0</strong></span>


        {% endif %}
<form action="{% url 'profile' targ_user.id %}" method="post">
        {% csrf_token %}


        <div class="form-group">
            <input class="form-control" autofocus style="margin-top:30px" type="text" name="comm_txt" placeholder="insert your comment">
            <input type="hidden"  name="route_id" value={{user_route.pk}}>

        </div>
    <input class="btn btn-primary" type="submit" name="route_reply" value="Post">
        {% ifnotequal targ_user user_route.thedriver %}
                <div class="likes">
                        {% if request.user in user_route.thepassenger.all %}

                        <span id="leavebtn" class="joinleave" data-id="{{user_route.id}}" onclick="return false" title="Leave" >Leave</span>
                        {% else %}
                        <span id="joinbtn" class="joinleave" data-id="{{user_route.id}}" onclick="return false"  title="Join">Join</span>
                        {% endif %}

                </div>
    </form>
        {% endifnotequal %}

    {% ifequal user user_route.thedriver %}

    {% if not user_route.fin  %}
<form action="{% url 'profile' targ_user.id %}" method="post">
        {% csrf_token %}


        <div class="form-group">

            <input type="hidden"  name="route_to_load_id" value={{user_route.pk}}>

        </div>
    <input class="btn btn-primary" type="submit" name="finalise_trip" value="Finalise trip">
    </form>
    {% endif %}

    <form>
     <input class="btn btn-success" type="button"  name="load_route" value="Edit Trip" onclick="location.href='{% url 'edit_route' user_route.pk %}'"  />
     <input type="hidden"  name="route_to_load_id" value={{user_route.pk}}>
    {%endifequal %}
    </form>

</section>


       {% for rep in user_route.comments.all %}
 <ul>



        <div class="comms" ><p style= "color:blue; font-size:10px;"><a href="{% url 'profile' rep.owner_id %}">{{rep.owner}}</a>
            replied on {{rep.created_date}}</p> <strong>{{rep}} </strong> </div>
</ul>
        {% endfor %}





{% endfor %}
<h2 class="page"> Page: {{ page.number }}</h2>
        <div class="page-links">

            {% if page.has_previous %}
            <a href="{% url 'profile' targ_user.id %}?page={{page.previous_page_number }}">Previous</a>

            {% endif %}
            {% if page.has_next %}
            <a href="{% url 'profile' targ_user.id %}?page={{page.next_page_number }}">Next</a>
            {% endif %}

        </div>

{% block script %}
    <script src="{% static 'Capstone/join_leave.js' %}"></script>

{% endblock script %}
{% endblock %}