{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}

    <h1>Create New Entry</h1>

    <ul>
        <form action='{% url "new" %}' method ="POST">
            {% csrf_token %}


            <br>
            <strong>Title</strong>
            <p>{{form.title}}</br></p>

            <strong>Content</strong>
            <p>
            {{form.content}}
            {{form.errors}}
            <br></p>


        <input type="submit"/>
            </br>



        </form>
        <a href="{% url "index" %}">Home</a>
    </ul>

{% endblock %}