{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Item: {{listing.title}}</h2>
<p style= "color:black; font-size:35px;"><strong> {{listing.listing_message}}</strong></p>
{% ifequal listing.closed_auction "True" %}

<p style= "color:blue; font-size:25px;"><strong> Highest Bidder is {{highest_bidder}} and the Highest Bid is {{the_max_bid}}&euro;</strong></p>

{% endifequal %}


{% ifequal listing.closed_auction "True" %}
{% ifequal request.user highest_bidder %}
<h2>Congratulations You have won this auction</h2>
{% endifequal %}
{% endifequal %}

    {% if message %}
        <div style = "font-size:22px; color:green;">{{ message}}</div>
    {% endif %}
       <div class ="menu"> <img src={{listing.picture_url}} width="200" height="300">
           <p style="font-size:20px; padding-bottom:25px;">{#<strong>{{listing.title}}</strong>#} </p>{{listing.description}}
            <p style= "padding-top:15px; font-size:20px"><strong> Price: {{listing.price}}&euro;</strong></p>

               {% if message_cl %}

          <p> <a style = "font-size:22px; color:green;" href="{% url "flisting" listing.id %}"> {{ message_cl}}</a> </div></p>
    {% endif %}

<p style= "font-size:15px;"> Category: {{listing.category}}
        <div>
            <p style= "color:grey; font-size:15px;"> created: {{listing.created_date}} <strong> by {{listing.listing_owner}}</strong></p>
           <p style= "color:grey; font-size:15px;"> No of Bids: {{number_of_bids}}</p>
        </div>

<p>
{% if not watchlist_ind %}


    <form action="{% url 'flisting' listing.id %}" method="post">
        {% csrf_token %}
   <input class="btn btn-primary" type="submit"   name="add_to_watchlist" value="Add to My Watchlist">
    </form>

{% endif %}

</p>

<p>
{% if  watchlist_ind %}


    <form action="{% url 'flisting' listing.id %}" method="post">
        {% csrf_token %}
   <input class="btn btn-primary" type="submit"   name="rem_from_watchlist" value="Remove from My Watchlist">
    </form>

{% endif %}



</p>
{% ifequal listing.closed_auction "False" %}
{% ifnotequal  request.user listing.listing_owner %}

    <form action="{% url 'flisting' listing.id %}" method="post">
        {% csrf_token %}
           <div class="form-group">
            <input class="form-control" type="number" step="1" min={{listing.price}} name="bid_val" placeholder="Bid">
        </div>


            <input class="btn btn-primary" type="submit" name="place_bid" value="Place Bid">
    </form>
{% endifnotequal %}
{% endifequal %}

{% ifequal listing.closed_auction "False" %}
{% ifequal request.user listing.listing_owner %}

    <form action="{% url 'flisting' listing.id %}" method="post">
        {% csrf_token %}
   <input class="btn btn-primary" type="submit"   name="close_auction" value="Close Auction">
    </form>

{% endifequal %}
{% endifequal %}

    <form action="{% url 'flisting' listing.id %}" method="post">
        {% csrf_token %}
     <div class="form-comm">
            <input class="form-control" type="text" name="comment_input" placeholder="comment">
     </div>
        <input class="btn btn-primary" type="submit" name="submit_comment" value="Submit Comment">

    </form>





<h1> Comments: </h1>
{% for comm in comms %}
    <ul>
        <p style= "color:grey; font-size:15px;"> <strong>{{comm}} </strong> by user {{comm.comment_author}} {{comm.created_date}}</p>
    </ul>
{% endfor %}



{#***NOT RENDERED <div class="subnote">created: {{listing.created_date}} <strong> by {{user}}</strong> </div>#}

{% comment %} this is a comment {% endcomment %}

{# this won't be rendered #}
{% endblock %}