{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Item: {{listing.title}}</h2>


       <div class ="menu"> <img src={{listing.picture_url}} width="200" height="300">
           <p style="font-size:20px; padding-bottom:25px;">{#<strong>{{listing.title}}</strong>#} </p>{{listing.description}}
            <p style= "padding-top:15px; font-size:20px"><strong> Price: {{listing.price}}&euro;</strong></p>

               {% if message %}
        <div style = "font-size:22px; color:green;">{{ message }}</div>
    {% endif %}

<p style= "font-size:15px;"> Category: {{listing.category}}
        <div>
            <p style= "color:grey; font-size:15px;"> created: {{listing.created_date}} <strong> by {{listing.listing_owner}}</strong></p>
        </div>

{% ifnotequal  request.user listing.listing_owner %}

    <form action="{% url 'flisting' listing.id %}" method="post">
        {% csrf_token %}
           <div class="form-group">
            <input class="form-control" type="number" step="1" min={{listing.price}} name="bid_val" placeholder="Bid">
        </div>


            <input class="btn btn-primary" type="submit" name="place_bid" value="Place Bid">
    </form>
{% endifnotequal %}

{% ifequal request.user listing.listing_owner %}
    <form action="{% url 'flisting' listing.id %}" method="post">
   <input class="btn btn-primary" type="submit" value="Close Auction">
    </form>
{% endifequal %}


    <form action="{% url 'flisting' listing.id %}" method="post">
        {% csrf_token %}
     <div class="form-comm">
            <input class="form-control" type="text" name="comment_input" placeholder="comment">
     </div>
        <input class="btn btn-primary" type="submit" name="submit_comment" value="Submit Comment">

    </form>

<h1> Comments: </h1>
{% for comm in comms %}
    <ul>
        <p style= "color:grey; font-size:15px;"> <strong>{{comm}} </strong> by user {{comm.comment_author}} {{comm.created_date}}</p>
    </ul>
{% endfor %}



{#***NOT RENDERED <div class="subnote">created: {{listing.created_date}} <strong> by {{user}}</strong> </div>#}

{% comment %} this is a comment {% endcomment %}

{# this won't be rendered #}
{% endblock %}