{% extends "network/layout.html" %}

{% block body %}

    <h2>New Post</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

<form action="{% url 'create_post' %}" method="post">
        {% csrf_token %}


        <div class="form-group">
            <input class="form-control" style="margin-top:30px"; type="text" name="description" placeholder="Post Here">
        </div>
    <input class="btn btn-primary" type="submit" value="Save">
</form>


{%endblock%}