{% extends "network/layout.html" %}

{% block body %}
{% for post in all_posts %}


<ul>
<div class="post">{{post.description}}

    <p style= "color:grey; font-size:12px;"> <strong><a href="{% url "profile" post.owner_id %}" > {{post.owner}} </strong></a> wrote on: {{post.created_date}} </p>


{% if user.is_authenticated %}
        <form action="{% url 'index' %}" method="post">
        {% csrf_token %}


        <div class="form-group">
            <input class="form-control" style="margin-top:30px"; type="text" name="reply_txt" placeholder="reply">
            <input type="hidden"  name="post_id" value={{post.pk}}>{{post.pk}}

        </div>
    <input class="btn btn-primary" type="submit" value="Post">
            <p></p>
            <p></p>
{% endif %}
            <p style= "color:grey; font-size:12px;"></p>


</div>

</ul>






{% for rep in post.replies.all %}
 <ul>



        <div class="replies" ><p style= "color:blue; font-size:10px;"><a href="{% url "profile" rep.owner_id %}">{{rep.owner}}</a>  replied on {{rep.created_date}}</p> <strong>{{rep}} </strong> </div>
</ul>
{% endfor %}
</form>
    </div>



{% endfor %}






{% endblock %}