{% extends "network/layout.html" %}
{% load static %}
{% block body %}
{% for post in all_posts %}


<ul>
<div class="post">{{post.description}}

    <p style= "color:grey; font-size:12px;"> <strong><a href="{% url 'profile' post.owner_id %}" > {{post.owner}} </strong></a> wrote on: {{post.created_date}} </p>


{% if user.is_authenticated %}
        <form action="{% url 'index' %}" method="post">
        {% csrf_token %}


        <div class="form-group">
            <input class="form-control" style="margin-top:30px" type="text" name="reply_txt" placeholder="reply">
            <input type="hidden"  name="post_id" value={{post.pk}}>

        </div>
    <input class="btn btn-primary" type="submit" name="post_reply" value="Post">
            <p></p>
            <p></p>


    {% ifequal  user post.owner %}


       <button onclick="myFunction()"> edit post</button>
            <div id="divedit">


<form action="{% url 'edit_post' post.id%}" method="post">
        {% csrf_token %}


        <div class="form-group">
            <input class="form-control" style="margin-top:30px"; type="text" name="description" placeholder={{post.description}}>

    <input class="btn btn-primary" type="submit" value="Save">
</form>
                </div>
            </div>

 {#                  <form action="{% url 'edit_post' post.id %}" method="post">#}
  {#  <input class="btn btn-primary" name="edit_post" type="submit" value="edit_post" >#}
  {#   <input type="hidden"  name="post_to_edit_id" value={{post.pk}}>#}
</form>#}
            </div>

   {% endifequal %}
{% endif %}
            <p style= "color:grey; font-size:12px;"></p>


</div>

</ul>






{% for rep in post.replies.all %}
 <ul>



        <div class="replies" ><p style= "color:blue; font-size:10px;"><a href="{% url "profile" rep.owner_id %}">{{rep.owner}}</a>
            replied on {{rep.created_date}}</p> <strong>{{rep}} </strong> </div>
</ul>
{% endfor %}
</form>
    </div>



{% endfor %}




{% endblock %}
{% block script %}
    <script src="{% static 'network/edit_post.js' %}"></script>

{% endblock %}