{% extends "network/layout.html" %}
{% load static %}
{% block body %}

{% ifnotequal request.user targ_user %}

    <h2>You are viewing user:{{targ_user.username}}</h2>
<div class= "prof"><strong> user's email address : {{targ_user.email}}</strong></p>
<strong> {{targ_user.username}} is member since {{ targ_user.date_joined }}</strong>
    <p>Total posts:<strong>{{user_posts_count}}</strong></p>

    {% if targ_user in myfollowinglist %}
    <p><strong> You are following {{targ_user.username}}</strong></p>
    {% endif %}

         {{targ_user.username}} is following <strong>{{no_of_following}} </strong> users:

        {% for fol in followinglist %}

            <strong> <a href="{% url 'profile' fol.id %}" > {{fol.username}} </a></strong>

        {% endfor %}
    <p></p>
          {{targ_user.username}} has  <strong>{{no_of_followers}} </strong> followers:

        {% for fol in followerslist %}

      <strong> <a href="{% url 'profile' fol.id %}" > {{fol.username}} </a></strong>

        {% endfor %}

</div>




{% if not targ_user in myfollowinglist %}

    <form action="{% url 'profile' targ_user.id %}" method="post">
        {% csrf_token %}
   <input class="btn btn-primary" type="submit"   name="follow" value="Follow">
    </form>
{% else %}

    <form action="{% url 'profile' targ_user.id %}" method="post">
        {% csrf_token %}
   <input class="btn btn-primary" type="submit"   name="unfollow" value="Unfollow">
    </form>
{% endif %}
{% endifnotequal %}

</p>
{% ifequal request.user targ_user %}
 <h2>You are currenty logged in as :{{user.username}}</h2>
<div class= "prof"><strong> {{user.email}}</strong>
    <p><strong> You are member since {{user.date_joined}}</strong></p>





Total posts:<strong>{{user_posts_count}}</strong>
<p></p>
       You are following <strong>{{no_of_following}} </strong> users:

        {% for fol in followinglist %}

            <strong> <a href="{% url 'profile' fol.id %}" > {{fol.username}} </a></strong>

        {% endfor %}
    <p></p>
          You have  <strong>{{no_of_followers}} </strong> followers:

        {% for fol in followerslist %}

      <strong> <a href="{% url 'profile' fol.id %}" > {{fol.username}} </a></strong>

        {% endfor %}

</div>







<p>
    {% endifequal %}

{% for user_post in  page.object_list %}

<ul>
<div class="post">{{user_post.description}}

    <p style= "color:grey; font-size:12px;"> <strong><a href="{% url 'profile' targ_user.id %}" > {{targ_user.username}} </strong></a> wrote on: {{user_post.created_date}} </p>
<p id="likes" style= "color:grey; font-size:12px;mix-blend-mode: multiply;"><img src="{% static  'network/images/like1.jpg' %}" alt="like image"> <strong>{{user_post.likes.all.count}}</strong>
<form action="{% url 'profile' targ_user.id %}" method="post">
        {% csrf_token %}


        <div class="form-group">
            <input class="form-control" autofocus style="margin-top:30px" type="text" name="reply_txt" placeholder="reply">
            <input type="hidden"  name="post_id" value={{user_post.pk}}>

        </div>
    <input class="btn btn-primary" type="submit" name="post_reply" value="Post Reply">
{% if  not user in user_post.likes.all %}
 <form action="{% url 'profile' targ_user.id %}" method="post">
     {% csrf_token %}
     <input class="btn btn-primary" name="like" type="submit" value="like" >
     <input type="hidden"  name="post_to_like_id" value={{user_post.pk}}>

{% else %}
  <form action="{% url 'profile' targ_user.id %}" method="post">
      {% csrf_token %}
     <input class="btn btn-primary" name="unlike" type="submit" value="unlike" >
     <input type="hidden"  name="post_to_unlike_id" value={{user_post.pk}}>



 </form>
{% endif%}
     <form action="{% url 'edit_post' user_post.pk %}" method="post">
     {% csrf_token %}
     <input class="btn btn-primary" name="load_post" type="submit" value="Edit post" >
     <input type="hidden"  name="post_to_load_id" value={{user_post.pk}}>
</div>
</ul>




{% for rep in user_post.replies.all %}
 <ul>



        <div class="replies" ><p style= "color:blue; font-size:10px;"><a href="{% url "profile" rep.owner_id %}">{{rep.owner}}</a>
            replied on {{rep.created_date}}</p> <strong>{{rep}} </strong> </div>
</ul>
{% endfor %}
</form>
    </div>



{% endfor %}
<h2 class="page"> Page: {{ page.number }}</h2>
        <div class="page-links">

            {% if page.has_previous %}
            <a href="{% url 'following' %}?page={{page.previous_page_number }}">Previous</a>

            {% endif %}
            {% if page.has_next %}
            <a href="{% url 'following' %}?page={{page.next_page_number }}">Next</a>
            {% endif %}

        </div>
{% endblock %}