{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Categories</h2>

<ul> {% for cat in categories %}
    <li class ="catgs"> <a href="{% url "category" cat %}"> {{cat}}</a></li>



{% comment %}
       <div class ="menu"> <a href="{% url "flisting" listings.id %}"> <img src={{listings.picture_url}} width="200" height="300"></div>
        <div class="main"> <p style="font-size:20px"><strong>{{listings.title}}</strong> </p>{{listings.description}}
            <p><strong> Price: {{listings.price}}&euro;</strong></p>
            <p style= "color:grey; font-size:15px;"> created: {{listings.created_date}} <strong> by {{listings.listing_owner}}</strong></p>
        </div>
    {% endcomment %}

{% endfor %}
        {#***NOT RENDERED <div class="subnote">created: {{listing.created_date}} <strong> by {{user}}</strong> </div>#}

{% comment %} this is a comment {% endcomment %}

{# this won't be rendered #}
{% endblock %}