{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Create Listing</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'create_listing' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" autofocus type="text" name="title" placeholder="Title">
        </div>
                <div class="form-group">
            <input class="form-control" type="text" name="category" placeholder="Category">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="description" placeholder="Description">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="picture_url" placeholder="Picture url">
        </div>
                <div class="form-group">
            <input class="form-control" type="number" step="0.01" min="0" name="price" placeholder="Start Bid">
        </div>
        <div class="form-group">
            <input class="form-control" type="hidden"  name="created_date" value={{created_date}}>
        </div>
            <input class="btn btn-primary" type="submit" value="Save">
    </form>

    <a href="{% url 'index' %}">Back to Active Listings</a>

{% endblock %}