<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title></title>
    <meta charset="utf-8" />

</head>
<body>

<form id="adresses">
<div>
<label for="input start">Departure Address</label>
  <input type="text" class="form-control" id="dep">

</div>
<div>
  <label for="input finish">Destination Address</label>
  <input type="text" class="form-control" id="dest">

<p>




     </div>

    <input type="button" onClick="geocode()" value="Search" /><br />
    <div id="output"></div>
</body>
{% block script %}
    <script src="{% static 'Capstone/mapinter2.js' %}"></script>


{% endblock script %}
</html>