{% extends "Capstone/layout.html" %}
{% load static %}
{% load i18n %}
{% block body %}


<div class="container-fluid">

    <div class="row">
        <div class="col-4 bg-info mx-1 mt-2 shadow-lg">



                <h4 class = 'text-success border border-light mt-1'> {{ user }}, {% trans 'Here you can edit Trip no' %} {{route.id}}</h4>
                    <div  style="position:left;color:black; font-size:17px;">From: <strong>{{route.departure}}</strong>
                        <p>{% trans 'To': %} <strong>{{route.destination}}</strong></p>

                        <p> {% trans 'Leaving on' %}  <strong>{{route.date_orig}}</strong> {% trans 'at' %} <strong>{{route.time_orig}}</strong></p>

                        <p> {% trans 'Returning on' %} <strong>{{route.date_ret}}</strong> {% trans 'at' %} <strong>{{route.time_dep}}</strong></p>

                        <p> {% trans 'Distance' %}  <strong>{{route.dist}}Km</strong></p>




                        <p  class="img-fluid rounded d-block "  id="map_to_load"><img style="border:1px solid yellow;" src="{{route.map_pic}}" onerror="this.style.display='none'"></p>
                        <form action="{% url 'edit_route' route.pk %}" method="post">
                            {% csrf_token %}
                            <input class="btn btn-danger" name="del_route" type="submit" value={% trans "Delete Trip" %} >
                            <input type="hidden"  name="route_id" value={{route.pk}}>
                        </form>
                        <p style= "color:grey; font-size:12px;"> <strong>{% trans 'Created by'  %}<a href="{% url 'profile' route.thedriver_id %}" >


                        {{ route.thedriver}} </strong></a>  {% trans 'on' %}: {{ route.created_date}} </p>

                    </div>

        </div>

        <div class="col-2 sm-2 bg-info mx-1 mt-2 shadow-lg">




                <div class=form-group">


                    <form id="addresses">


                    <label for="input start">{% trans 'Departure Address' %}</label>
                    <input type="text" class="form-control" id="dep" value="{{route.departure}}">



                    <label for="input finish">{% trans Destination Address %}</label>
                    <input type="text" class="form-control" id="dest" value="{{route.destination}}">
                    <p> <input id ="sear" class="btn-info" type="button" value={% trans "Search" %}></p>

                    </form>
                        <div class="img-fluid rounded d-block" id='map_pl' >  <img style="border: 1px solid yellow;" id="map"  src='#' onerror="this.style.display='none'"></div>

                </div>
            </div>

        <div class="col p-1 mt-2  mx-1 bg-info shadow-lg text-white" >
            <div  id="sub_route">
              <form class='validity' action="{% url 'edit_route' route.pk %}" method="post">
                        {% csrf_token %}
                  {{ form.as_p }}

                  <p>
                  <input class ='btn-info' id ="editbt" name="edit_route" type="submit" value={% trans "Submit" %}></p>
              </form>
                <div class="danger"> {{msger}}</div>
                <div class="success" > {{ msg }} </div>
<!--<script>
document.getElementById("editbt").addEventListener("click", myFunction);

function myFunction() {

const al=document.getElementById('alert').value;
console.log(al);
   if (al == 1){

        alert('Success')
        document.getElementById('msg').className='alert alert-success';

        } if (al== 0){
        document.getElementById('msg').className='alert alert-danger';
        };
}
</script>-->

                </div>
            </div>

    </div>


</div>

{% block script %}
    <script src="{% static 'Capstone/edit_route.js' %}"></script>

{% endblock script %}
{% endblock %}
