{% extends "Capstone/layout.html" %}
{% load static %}

{% block body %}
<h3 class = 'text-warning'> {{ user }}, Here you can edit Trip no {{route.id}}</h3>
<div class="container-fluid mt-1" >
    <div class="d-flex p-1 bg-secondary text-white flex-grow">
        <div class="bg-info col-md-3 mx-1 pr-5 shadow-lg ">


            <div  style="position:left;color:black; font-size:17px;">From: <strong>{{route.departure}}</strong>
        <p>To: <strong>{{route.destination}}</strong></p>

                <p> On: <strong> {{route.date_orig.date}}</strong></p>
                <p> Leaving at  <strong>{{route.time_orig}}</strong> and returning at <strong>{{route.time_dep}}</strong></p>




    <p  class="img-fluid"  id="map_to_load"><img style="height:300px; width:300px;" src="{{route.map_pic}}" onerror="this.style.display='none'"></p>




   <p style= "color:grey; font-size:12px;"> <strong>Created by<a href="{% url 'profile' route.thedriver_id %}" >


       {{ route.thedriver}} </strong></a>  on: {{ route.created_date}} </p>

    </div>



<form action="{% url 'edit_route' route.pk %}" method="post">
    {% csrf_token %}
     <input class="btn btn-danger" name="del_route" type="submit" value="Delete Trip" >
     <input type="hidden"  name="route_id" value={{route.pk}}>
 </form>
        </div>
         <div class="bg-info col-sm-3 mx-1 pr-5 shadow-lg ">
      <div class=form-group">


<form id="addresses">

<div>
<label for="input start">Departure Address</label>
  <input type="text" class="form-control" id="dep" value="{{route.departure}}">



  <label for="input finish">Destination Address</label>
  <input type="text" class="form-control" id="dest" value="{{route.destination}}">
    <p> <input id ="sear" class="btn-info" type="button" value="Search"></p>

</form>



</div>

</div>




      </div>



  <div class="d-flex p-1 bg-secondary text-white flex-grow">




    <div class="bg-info col-md-3 mx-1 pr-5 shadow-lg" id="sub_route">
      <form class='validity' action="{% url 'edit_route' route.pk %}" method="post">
    {% csrf_token %}
          {{ form.as_p }}

          <p>
              <input class ='btn-info' id ="editbt" name="edit_route" type="submit" value="Submit"></p>
          </form>
        <div style="color:red"> {{msger}}</div>
        <div class="succ" > {{ msg }} </div>
<!--<script>
document.getElementById("editbt").addEventListener("click", myFunction);

function myFunction() {

const al=document.getElementById('alert').value;
console.log(al);
   if (al == 1){

        alert('Success')
        document.getElementById('msg').className='alert alert-success';

        } if (al== 0){
        document.getElementById('msg').className='alert alert-danger';
        };
}
</script>-->

    </div>
    <div class="img-fluid" id="map_pl"><img style="height:400px; width:400px;" id="map"  src='#' onerror="this.style.display='none'"></div>

  </div>
</div>



{% block script %}
    <script src="{% static 'Capstone/edit_route.js' %}"></script>

{% endblock script %}
{% endblock %}
