{% extends "Capstone/layout.html" %}
{% load static %}
{% load i18n %}
{% block body %}




<div class="container">
<div class="row">

    <div class="col-lg-6 corps">
        <a href="{% url 'passenger'%}"> <img class="img-fluid "  src="{% static  'Capstone/images/pass.jpg' %}"  title="Passenger"></a>
    </div>

    <div class="col-lg-6 corps">
        <a href="{% url 'driver'%}"> <img class="img-fluid" src="{% static  'Capstone/images/driver.png' %}" title="Driver" > </a>
    </div>
    <div id="consent-popup" class="consent-popup-hidden">
        <p> By using this site you agree to our <a href="{% url 'terms' %}"> Terms and conditions</a>.
            Please <a id="accept" href="#">Accept</a> these before using this site.


        </p>


    </div>
</div>
</div>
{% block script %}

<script src="{% static 'Capstone/join_leave.js' %}"></script>
<script src="{% static 'Capstone/cookies.js' %}"></script>

{% endblock script %}

{% endblock %}
