{% extends "Capstone/layout.html" %}
{% load static %}
{% block body %}




<div class="container">
<div class="row">

    <div class="col-lg-6 corps">
        <a href="{% url 'passenger'%}"> <img class="img-fluid "  src="{% static  'Capstone/images/pass.jpg' %}"  title="Passenger"></a>
    </div>

    <div class="col-lg-6 corps">
        <a href="{% url 'driver'%}"> <img class="img-fluid" src="{% static  'Capstone/images/driver.png' %}" title="Driver" > </a>
    </div>

</div>
</div>
{% block script %}

<!-- make sure the config gets loaded before Klaro -->
<script src="{% static 'Capstone/join_leave.js' %}"></script>
<script defer type="text/javascript" src="{% static 'Capstone/config.js' %}"></script>
<script defer type="text/javascript" src="https://cdn.kiprotect.com/klaro/[v0.7.18]/klaro.js"></script>
{% endblock script %}

{% endblock %}
