{% extends "Capstone/layout.html" %}

{% block body %}
<div class="container-fluid">
    <div class="raw">
        <div class="col">
            <h2 class="text-dark">Login</h2>

                {% if message %}
                    <div class ='text-danger'>{{ message }}</div>
                {% endif %}

                <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                    <div class="form-group">
                        <input autofocus class="form-control" type="text" name="username" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" name="password" placeholder="Password">
                    </div>
                        <input class="btn btn-primary" type="submit" value="Login">
                </form>

                <b class="text-info">Don't have an account? </b><a href="{% url 'register' %}">Register here.</a>
                <b class="text-info">Forgot password? </b><a href="{% url 'reset_password' %}">Reset Password.</a>
            </div>
    </div>
</div>
{% endblock %}

