{% extends "Capstone/layout.html" %}

{% block body %}

    <h2 class="text-dark"> Register</h2>

    {% if message %}
        <div style = 'color:red'>{{ message }}</div>
    {% endif %}

    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" autofocus type="text" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <input class="form-control" type="email" name="email" placeholder="Email Address">
        </div>
        <div class="form-group">
            <input class="form-control" autofocus type="text" name="name" placeholder="name">
        </div>
        <div class="form-group">
            <input class="form-control" autofocus type="text" name="surname" placeholder="surname">
        </div>
        <div class="form-group"><p class="text-dark">Date of Birth</p>
            <input class="form-control" autofocus type="date" name="dob" placeholder="date of birth">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password" value="">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
        </div>
        <input class="btn btn-primary" type="submit" value="Register">
    </form>
<div class="inline">
<b class="text-info">Already have an account? </b><a href="{% url 'login' %}">Log In here.</a>
<b class="text-info">By registering you agree to our </b><a href="{% url 'terms' %}">Terms and Conditions</a>
</div>

{% endblock %}