{% extends "Capstone/layout.html" %}
{% load static %}
{% block body %}
{% load i18n %}

<div class="container-fluid p-1 pb-0 text-dark">
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-12 mx-auto mt-1">
            <h6 class="text-uppercase mb-4 font-weight-bold">
              Company name
            </h6>
            <p>

{% blocktrans %} By accessing this website, you agree to be bound by these terms of use, all current laws and regulations,
and you agree to be responsible for compliance with any current local laws. If you do not agree to any of these terms,
do not use this website. Any claim regarding the the use of this website will be rulled by the laws of Greece.
The owner of this website makes no warranty that the materials contained are suitable
or available for use in all countries or regions, and access to products or services in countries or territories where
their use is illegal is prohibited. . The omission of terms or restrictions mentioned in these terms of use does not
constitute a waiver of the rights of the owner of this website nor do they restrict the owner of this website from using these rights or restrictions
in the future.{% endblocktrans %}</p>
<h6 class="text-uppercase mb-4 font-weight-bold">
    {% trans 'Copyright and trademark information and instructions' %}</h6>

              <p> {% trans 'The code and logos contained in this website are protected by current copyright and trademark laws.'%}</p>

<h6 class="text-uppercase mb-4 font-weight-bold">
    {% blocktrans %}Drivers-Passengers</h6>

The owner of this website is not responsible for any driver record, ability, certification or insurance check, nor safety checks,
inspections or maintenance
of the vehicles used. The owner of this website isn't responsible for any background checks of the drivers nor the passengers of the carpool trip.
By deciding to participate on a trip voluntarily either as a driver or as a passenger, you agree that you are entirely and solely responsible
    for your safety during the trip. <p><b>Minors are prohibited to use this website. </b></p>

Users of this website should not accept or give rides to complete strangers ans should be extremely cautious when accepting passengers or joining trips.
The carpooling trip is a private agreement among the users.
The passenger of a trip is responsible of declining a trip due to unsafe vehicle, or for any reason that makes him/her feel uncomfortable
or unsafe.
The driver of a trip is responsible of declining a trip if he/she for any reason that that makes him/her feel uncomfortable or unsafe.
   <p> <b>The users of this website are participating in carpooling trips at their own risk.</b></p>{% endblocktrans %}

<h6 class="text-uppercase mb-4 font-weight-bold">
    {% trans 'Waiver of Claims' %}</h6>
<p>{% blocktrans %} The owner of this website takes no responsibility for any personal injuries, death, property damages, financial losses, or any other kind of liability that
    may result from sharing a trip through this website with another person.{% endblocktrans %}</p>

<h6 class="text-uppercase mb-4 font-weight-bold">
    {% trans 'Abusive accounts' %}</h6>

<p>{% trans 'The owner of this website reserves the right to remove abusive accounts e.g. programmatic access through spiders, robots, crawlers, scrapers etc., spam, hacked
    accounts, or any kind of abusive behaviour.'%}</p>
<h6 class="text-uppercase mb-4 font-weight-bold">
    {% trans 'Disclaimer of guarantees' %}</h6>

<p> {% blocktrans %}The materials on the websites of the owner of this website are provided “as they are” and their guarantees are provided by the manufacturers or their
    representatives. the owner of this website does not provide or imply that it provides any additional warranty. The calculation od CO2 emissions is
an approximation and depends on the car manufacture, the driving habits, the kind of fuel etc. {% endblocktrans %}</p>


<h6 class="text-uppercase mb-4 font-weight-bold">
    {% trans 'Limitation of Liability' %}</h6>

<p>{% blocktrans %} In any case, the owner of this website or its suppliers are not liable for damages resulting from lost information or interruptions due to system
or product failures, even if the owner of this website has been notified orally or written for the possibility of such losses.

Revisions and typographical errors
The materials appearing on the websites of the owner of this website may include technical, typographical or photographic errors.
the owner of this website does not guarantee that all information published on its website is accurate, complete and in accordance
    with current conditions. the owner of this website may make changes to the content of its websites at any time without prior notice.{% endblocktrans %}</p>
<h6 class="text-uppercase mb-4 font-weight-bold">
    {% trans 'Change of Terms of Use' %}</h6>

<p>{% blocktrans %}The owner of this website may change the terms of use of its websites without prior notice.
    Using any of the websites of the owner of this website agrees to its current Terms of Use. {% endblocktrans %}</p>
<h6 class="text-uppercase mb-4 font-weight-bold">
    {% trans 'Users’ Data' %}</h6>

<p>{% blocktrans %}Any information or other material delivered or published by users, on the owner of this website is considered non-confidential
and non-privately owned. the owner of this website reserves the right to use this information, protecting privacy rules.
    The publication of illegal, bulling, pornographic, satirical, defamatory or other content contrary to the law is prohibited.{% endblocktrans %}</p>

<h6 class="text-uppercase mb-4 font-weight-bold">
    {% trans 'Links' %}</h6>

<p>{% blocktrans %}The owner of this website may contain links to third party websites.
Such websites are operated by other companies or persons or agents and the links to such websites are provided by the owner of this website
only for the convenience of its users. These websites are not under the control of the owner of this website
and the owner of this website is not responsible for the accuracy of the information published in them. the owner of this website
reserves the right to terminate the connection to any third party website without notice.{% endblocktrans %}</p>


</div>
        </div>
      </section>
</div>

{% endblock %}
