
{% extends "Capstone/layout.html" %}
{% load static %}
{% block body %}
{% load qr_code %}



        <a  class="text-warning" style='position:absolute; right:100px;' href="{% url 'passenger' %}" ><strong> Show All Trips </strong></a>
        {% if page.object_list %}
            <p class="text-warning">Total Trips:  <strong>{{searched_routes_count}}</strong></p>

            <p class="text-warning">You searched for:  <strong>{{searched}}</strong></p>
            {% for ro in  page.object_list %}

                <div class="prof ">
                <h5 class="bg-info col-md-auto mx-1 pr-5 shadow-lg"></h5>
                <div data-fin="{{ro.fin}}" data-fin_set="{{ro.fin_set}}" data-fin_p="{{ro.fin_p}}">
                <h5> <strong><a href="{% url 'webload_route' ro.id %}" > Trip No:{{ro.id}} </a></strong> </h5>
                     {% if ro.fin or ro.fin_set or ro.fin_p %} <h5 id='closed_{{ro.id}}' style='color:red;'> 'Trip Closed'</h5>{% endif %}

                <h5 class='closedjs' id = 'closedjs_{{ro.id}}' style='color:red;'> 'Trip Closed'</h5><p id="fin_{{ro.id}}" hidden>{{ro.fin}}</p>
                <h6> From </h6> {{ro.departure}}
                <h6> To </h6> {{ro.destination}}
                <h6> Leaving on </h6> {{ro.date_orig}}
                <h6> Leaving at </h6> {{ro.time_orig}}
                <h6> Returning on</h6> {{ro.date_ret}}
                <h6> Returning at </h6> {{ro.time_dep}}
                <h6> Distance </h6> {{ro.dist}}Km


                <h6> The Driver is </h6>   <a href="{% url 'profile' ro.thedriver.id %}" ><strong> {{ro.thedriver}} </strong></a>
                <p hidden id="cost_{{ro.id}}"><h6>Initial cost per passenger {{ro.cost}} $</h6>
                <h6> Expected cost per passenger <strong id="costpp_{{ro.id}}">{{ro.costpp}}$</strong></h6>
                    {% if ro.d_a %}
                    <h6> Disabled access <i class="fa fa-wheelchair" aria-hidden="true"></i></h6>
                    {% endif %}
                    <img  class='img-fluid rounded d-block' style="border:1px solid yellow;" src="{{ ro.map_pic }}" alt="map_img">


<!--{% if user.is_authenticated %}
                              {% if ro.fin or ro.fin_set  %}

                        {% if request.user in ro.thepassenger.all %}
                 <p>  {% qr_from_text qr.code size="2" image_format="png" error_correction="L" %}   {{qr.passenger}}</p>


                        {% endif %}
                    {% endif %}

                    NO NEED FOR EVERYONE TO KNOW WHO IS ON THE TRIP
                    -->


                    {% if ro.passengers.all.count != 0 %}
                        <p id="likes" style= "color:grey; font-size:12px;mix-blend-mode: multiply;"><img src="{% static  'Capstone/images/seat.jpg' %}" alt="seat image">
                            <span><strong id="thepassengercounter_{{ro.id}}">{{ ro.thepassenger.all.count }}</strong></span>/<span id = 'max_pass_{{ro.id}}'>{{ ro.no_pass }}</span>

                            {% else %}
                        <p id="likes" style= "color:grey; font-size:12px;mix-blend-mode: multiply;"><img src="{% static  'Capstone/images/seat.jpg' %}" alt="seat image">
                            <span><strong id="thepassengercounter_{{ro.id}}">0</strong></span>

                    {% endif %}
                                            </div>
                        <form action="{% url 'passenger' %}" method="post">
                                    {% csrf_token %}

                        <div class="form-group">
                            <input class="form-control"  style="margin-top:30px" type="text" name="comm_txt" placeholder="Insert your comment">
                            <input type="hidden"  name="route_id" value={{ro.id}}>

                        </div>
                        <input class="btn btn-primary"  id='post_btn' type="submit" name="route_reply" value="Post">

                                {% ifnotequal request.user ro.thedriver %}

                                    <div class="likes">
                                        {% if not ro.fin %}
                                            {% if request.user in ro.thepassenger.all %}

                                        <span id="leavebtn" class="joinleave" data-id="{{ro.id}}" onclick="return false" title="Leave" >Leave</span>

                                            {% else %}
                                                {% if not ro.fin_set and not ro.fin  %}

                                            <span id="joinbtn" class="joinleave" data-id="{{ro.id}}" onclick="return false"  title="Join">Join</span>
                                                {% endif%}
                                            {% endif %}
                                        {% endif %}
                                    </div>

                        </form>



                                {% endifnotequal %}


                                {% ifequal request.user ro.thedriver %}
                                  <form action="{% url 'edit_route' ro.pk %}" method="post">
                                {% csrf_token %}
                                    <input class="btn btn-success" type="button"  name="load_route" value="Edit Trip"  onclick="location.href='{% url 'edit_route' ro.pk %}'"  />
                                    <input type="hidden"  name="route_to_load_id" value={{ro.pk}}>
                                  </form>
                                {%endifequal %}
                      </div>










                            {% for rep in ro.comments.all %}
                                <ul style="ιmargin-left:130px;">



        <div class="comms "><p style= "color:blue; font-size:10px; "><a href="{% url 'profile' rep.owner_id %}">{{rep.owner}}</a>
            replied on {{rep.created_date}}</p> <strong>{{rep}} </strong>

</ul>
                            {% endfor %}
{% endif %}
          {% endfor %}





<h2 class="page"> Page: {{ page.number }}</h2>
        <div class="page-links">

            {% if page.has_previous %}
            <a href="{% url 'valid_trips' %}?page={{page.previous_page_number }}">Previous</a>

            {% endif %}
            {% if page.has_next %}
            <a href="{% url 'valid_trips' %}?page={{page.next_page_number }}">Next</a>
            {% endif %}

        </div>



        {% else %}
            <p class="text-warning"><strong> Sorry no Trips found!</strong></p>

        {% endif %}

{% block script %}
    <script src="{% static 'Capstone/join_leave.js' %}"></script>

{% endblock script %}
{% endblock %}
