{% extends "Capstone/layout.html" %}
{% load static %}
{% load i18n %}

{% block body %}


	<!--Reset Password-->
	<div class="container p-5">
  	 	<h2 class='text-danger' >{% trans 'Reset Password' %}</h2>
		<hr>
		<p class="text-danger">{% blocktrans %} 'Forgotten your password? Enter your email address below, 
			and we will email instructions for setting a new one' {% endblocktrans %}.</p>
        <form method="POST">
            {% csrf_token %}
            {{ form }}
            <button class="btn btn-primary" type="submit">{% trans 'Send me instructions'%}</button>
        </form>
  	</div>

{% endblock %}