{% extends "Capstone/layout.html" %}

{% block title %}Enter new password{% endblock %}

{% block content %}

{% if validlink %}

<h1 class="text-warning">Set a new password!</h1>

<form class="bg-info col-sm-3 mx-5 pr-5 shadow-lg" method="POST">
  {% csrf_token %}
  {{ password_reset_form.as_p }}
  <input type="submit" value="Change my password">
</form>

{% else %}

<p class="text-warning">The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

{% endif %}
{% endblock %}